{% extends "base.html" %}

{% block title %}index Page{% endblock %}

{% block content %}


<style>
    .image {
  position: relative;
  text-align: center;
  color: white;
}

text-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

    a{
  text-decoration:none
}

    .image a{
  color:#eee
}
.text-overlay h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}

</style>

<div class="image">
  <img src="static/img/hm.jpeg" alt="bg" width="100%" height="100%">
  <div class="text-overlay">
      <h4>&ldquo;Success is the sum of small efforts, repeated day in and day out.&rdquo;</h4>
    <h1>STUDENT MANAGEMENT SYSTEM</h1>
    <div class="meta">
     <a href="#" target="_b">rabbuni.merugumala</a> 2026
    </div>
  </div>

</div>


<!--<style>-->



<!--img{-->
<!--    background:url('static/img/hm.jpeg');-->
<!--    /* Center and scale the image nicely */-->
<!--    background-position: center;-->
<!--    background-repeat: no-repeat;-->
<!--    background-size: cover;-->
<!--}-->








<!--</style>-->

<!--<div class="header">-->
<!--    <img src="static/img/hm.jpeg" alt="bg" width="100%" height="100%">-->
<!--  <div class="info">-->
<!--  <h4>&ldquo;Success is the sum of small efforts, repeated day in and day out.&rdquo;</h4>-->
<!--    <h1>STUDENT MANAGEMENT SYSTEM</h1>-->
<!--    <div class="meta">-->
<!--     <a href="#" target="_b">rabbuni.merugumala</a> 2026-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

{% endblock %}