{% extends 'base.html' %}

{% block title %}Search Student Page{% endblock %}
<link rel="icon" href="/svg/school.png" type="image/x-icon"/>

{% block content %}

<!--
<div class="container col-md-6 py-5">
    <form method="post">
        <div class="mb-3">
            <label for="search">Roll Number</label>
            <input class="form-control" id="search" name="student_id" placeholder="Enter Student Roll Number"/>

        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
----->

<div style="background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);" class="pb-3">

        {% if student != None%}
          <h1 style="font-family: 'Aclonica';font-size: 40px" class="text-center pt-5 pb-3">'{{student.id}}' STUDENT
        DETAILS</h1>
    <div class="container my-4">
        <table class="py-2 mb-5 table table-striped table-hover">
            <thead class="table-dark">
            <tr class="">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tr class="table-success ">
                <td class="pt-2">{{ student.id }}</td>
                <td>{{ student.first_name+ ' '+student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td class="d-flex gap-2">
                    <a href="{{url_for('edit_student',student_id=student.id)}}">
                        <button class="btn  btn-warning ">
                            <i class="bi bi-pencil-square "></i>
                        </button>
                    </a>

                    <form method="post" action="{{url_for('delete_student',student_id=student.id)}}">
                        <button type="submit" class="btn  btn-danger "><i class="bi bi-trash3"></i></button>
                    </form>

                </td>
            </tr>
        </table>
        {% else %}
        <h1 style="font-family: 'Aclonica';font-size: 40px" class="text-center pt-5 pb-3">'NO STUDENT
            DETAILS</h1>

        {% endif %}
    </div>
</div>
{% endblock %}