{% extends "base.html "%}

{% block content %}

<h1 STYLE="font-family: 'Aclonica';font-size: 40px" class="text-center p-3">{% block title %} ALL STUDENTS  {% endblock %}</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Date</th>
        <th scope="col">Bio</th>

    </tr>
    {% for student in students %}
    <tr>
        <td>21030-EE-{{ student.id }}</td>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.created_at }}</td>
        <td>{{ student.bio }}</td>
    </tr>
    {% endfor%}
</table>

{% endblock %}

